<div class="container">
  <h1>Create a new cocktail!</h1>
  <div class="form-container text-center">
    <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :picture_url %>
    <%= f.submit "Add cocktail", class: "btn btn-navbar" %>
    <% end %>
  </div>
</div>
