.cocktail-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -70px;
}

.cocktail-box {
  background-color: $pink;
  padding: 30px;
  border-radius: 5px;
  ul {
    list-style: none;
    padding-left: 0;
  }
}

li {
  display: flex;
  justify-content: space-between;
  a {
    font-size: 18px;
  }
}

label {
  font-size: 24px !important;
}

#doses {
  min-width: 400px;
}

#dose_ingredient_id {
  font-size: 24px !important;
}

#ingredients-typed-text {
  color: white;
}
